
@{
    ViewData["Title"] = "Fason Sipariş Listesi";
}

@model EPM.Fason.Dto.Fason.SIPARIS_FILTER


<div id="form-container">
    <div class="dx-card wide-card">
        @(Html.DevExtreme().Form<EPM.Fason.Dto.Fason.SIPARIS_FILTER>()
        .ID("edOnayliListe").ShowValidationSummary(true)
        .ColCount(Mode.Auto)
        .MinColWidth(150)
        .Items(items =>
        {
            items.AddSimpleFor(m => m.BASLANGIC_TARIHI).Editor(ob => ob.DateBox().DisplayFormat("dd.MM.yyyy")).IsRequired(false);
            items.AddSimpleFor(m => m.BITIS_TARIHI).Editor(ob => ob.DateBox().DisplayFormat("dd.MM.yyyy")).IsRequired(false);
            items.AddSimpleFor(m => m.MODEL).Editor(ob=>ob.TextBox().ID("edModel")).IsRequired(false);
            items.AddSimpleFor(m => m.COLOR).Editor(ob=>ob.TextBox().ID("edColor")).IsRequired(false);
            items.AddEmpty();
            items.AddButton().HorizontalAlignment(HorizontalAlignment.Right).VerticalAlignment(VerticalAlignment.Center)
                   .ButtonOptions(b => b.Text("FİLTRELE")
                       .Type(ButtonType.Default)
                       .Icon("fas fa-sign-in-alt")
                       .Width("100%")
                       .OnClick("FasonSiparisFiltrele")
                       .UseSubmitBehavior(true)
               );

        })
        .FormData(Model).ShowValidationSummary(false)
    )
        <div id="popup"></div>
        <div id="popupDetay"></div>
        <div id="edListe" style="display:inline-block;float:left; width:70%"> </div>
        <div id="edListeDetail" style="display: inline-block; float: right; width: 29%"> </div>
        <div id="edListeProcess"></div>
    </div>
</div>


<script>
    function FasonSiparisFiltrele() {
        $("#edListe").html("");
        var data = {
            BASLANGIC_TARIHI: jQuery("[name=BASLANGIC_TARIHI]").val(),
            BITIS_TARIHI: jQuery("[name=BITIS_TARIHI]").val(),
            MODEL: jQuery("[name=MODEL]").val(),
            COLOR: jQuery("[name=COLOR]").val(),
        };
        console.log(data);
        $.ajax({
            type: "POST",
            url: '@Url.Action("_PartialSiparisListesi", "Fason")',
            data: data,
            contentType: 'application/x-www-form-urlencoded',
            timeout: 180000,
            success: function (income, status, xmlRequest) {
                $("#edListe").html(income);

            }, beforeSend: function () {
                getLoadPanelInstance().show();
            }


        }).always(function () {
            getLoadPanelInstance().hide();
        });
    }

    function ProcessListGetir(ENTEGRATION_ID) {
         var dataProcess = {
             ENTEGRATION_HEADER_ID: ENTEGRATION_ID
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("_PartialSiparisProcessList", "Fason")',
            data: dataProcess,
            contentType: 'application/x-www-form-urlencoded',
            timeout: 180000,
            success: function (income, status, xmlRequest) {
                $("#edListeProcess").html(income);

            }, beforeSend: function () {
            }


        }).always(function () {
        });
    }
    function gridFocusedRowChanged(e) {
        var data = {
            ENTEGRATION_HEADER_ID: e.row.data.ENTEGRATION_ID
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("_PartialSiparisListesiDetail", "Fason")',
            data: data,
            contentType: 'application/x-www-form-urlencoded',
            timeout: 180000,
            success: function (income, status, xmlRequest) {
                $("#edListeDetail").html(income);

            }, beforeSend: function () {
            }


        }).always(function () {
        });
        ProcessListGetir(e.row.data.ENTEGRATION_ID);

    }

    function cellPrepared(e) {

        if (e.rowType == "data" && e.columnIndex == 0) {
            if (e.data.STATUS == 1) {
            } else if (e.data.STATUS == 2) {
                //e.cellElement[0].innerHTML = e.cellElement[0].innerHTML.replace("video", "todo");
            } else {
                e.cellElement[0].innerHTML = "";
            }
        }

    }
    function cellClicked(e) {
        var soru = "";
        console.log(e);
        if (e.row.data.HANDLE_SIDE == 0) {
            if (e.row.data.STATUS == 1)
                soru = "SÜREÇ BAŞLATILACAK<br>Devam edilsin mi?";
            else if (e.row.data.STATUS == 2)
                soru = "SÜREÇ SONLANDIRILACAK<br>Devam edilsin mi?";
            var result = DevExpress.ui.dialog.confirm("<i>" + soru + "</i>", "ONAY");
            result.done(function (dialogResult) {
                if (dialogResult) {
                    var dataProcess = {
                        list: e.row.data
                    };
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SurecIlerlet", "Fason")',
                        data: dataProcess,
                        contentType: 'application/x-www-form-urlencoded',
                        timeout: 180000,
                        success: function (income, status, xmlRequest) {
                            console.log(income);
                            if (income[0]) {
                                ProcessListGetir(e.row.data.ENTEGRATION_ID);
                            } else {
                                DevExpress.ui.dialog.custom({ messageHtml: "İŞLEMLER YAPILIRKEN HATAYLA KARŞILAŞILDI<br>" + income[1], title: "HATA", buttons: [{ text: "TAMAM", }] }).show();

                            }
                        }, beforeSend: function () {
                        }


                    }).always(function () {
                    });
                }
            });
        } else {
            DevExpress.ui.dialog.custom({ messageHtml: "Bu işlem Devanlay operasyon ekibi tarafından işlenecektir", title: "HATA", buttons: [{ text: "TAMAM", }] }).show();
        }


    }
</script>

